libros.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listalibros">

        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="libro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string" />
                            <xs:element maxOccurs="unbounded" name="autor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="apellido" type="xs:string">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:pattern value="([a-z])*"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="autor" type="xs:string" />
                                        <xs:element name="nombre" type="xs:string" />
                                        <xs:element name="cedula" type="xs:string" />
                                        <xs:element minOccurs="0" name="correo" type="xs:string" />
                                        <xs:element minOccurs="0" name="telefono" type="xs:unsignedInt" />
                                        <xs:element minOccurs="0" name="Pais" type="xs:string" />
                                        <xs:element minOccurs="0" name="residencia" type="xs:string" />
                                        <xs:element minOccurs="0" name="ciudad" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="foto" type="xs:string" use="optional" />
                                    <xs:attribute name="cedula" type="xs:string" use="optional"/>
                                    <xs:attribute name="codigo" type="xs:string" default="SPN"/>
                                    <xs:attribute name="portada" type="xs:string" use="optional" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="editorial" type="xs:string" />
                            <xs:element name="precio" type="xs:decimal" />
                            <xs:element name="codigo" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="anyo" type="xs:unsignedShort" use="required" >
                            <xs:simpleType>
                                <xs:restriction base="xs:positiveInteger">
                                    <xs:minInclusive value="1990"/>
                                    <xs:maxInclusive value="2022"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required" />
            <xs:attribute name="centro" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

</xs:schema>
